.palette-switcher {
  width: 33.33%;
  height: 3rem;
  padding-bottom: 1px;
}

.palette-switcher .bx--content-switcher-btn {
  border-radius: 0;
}

.palette-switcher
  .bx--content-switcher-btn:not(.bx--content-switcher--selected) {
  background-color: var(--cds-inverse-01, #ffffff);
}

.palettes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
}

.sequential-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 66.66%;
}

.sequential {
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 0;
}

.sequential:last-of-type {
  box-shadow: 0 -1px white; //border-top doesn't work correctly
  border-left: 1px solid white;
}

.color-palette-color {
  height: 3rem;
  font-family: "IBM Plex Mono";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.light-text {
  color: $text-04;
}

.gradient-purple {
  background: linear-gradient(
    to bottom,
    #f6f2ff,
    #e8daff,
    #d4bbff,
    #be95ff,
    #a56eff,
    #8a3ffc,
    #6929c4,
    #491d8b,
    #31135e,
    #1c0f30
  );
}

.gradient-blue {
  background: linear-gradient(
    to bottom,
    #edf5ff,
    #d0e2ff,
    #a6c8ff,
    #78a9ff,
    #4589ff,
    #0f62fe,
    #0043ce,
    #002d9c,
    #001d6c,
    #001141
  );
}
