// MAIN CONTAINER

// DROPDOWN
.palette-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
  width: 66.66%;
  margin-bottom: 1px;

  @include carbon--breakpoint-down("md") {
    width: 100%;
  }

  @include carbon--breakpoint-down("sm") {
    grid-template-columns: 1fr;
  }
}

.group-controls {
  border-bottom: 1px solid $ui-03;
}

.group-controls.dark-controls {
  border-bottom: 1px solid $icon-02;
}

.group-controls .bx--dropdown__wrapper {
  box-shadow: -2px 0px 0px 0px $ui-03; // adds left divider
}

.group-controls.dark-controls .bx--dropdown__wrapper {
  box-shadow: -2px 0px 0px 0px solid $icon-02;
}

.palette-controls .bx--dropdown {
  border-bottom: none; //removes carbon border
}

//SWITCHER
.palette-switcher {
  height: 3rem;
}

.palette-switcher .bx--content-switcher-btn {
  border-radius: 0;
}

.palette-switcher
  .bx--content-switcher-btn:not(.bx--content-switcher--selected) {
  background-color: var(--cds-inverse-01, #ffffff); // need to fix hover on this
}

// COLORS CONTAINER
.palettes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;

  @include carbon--breakpoint-down("md") {
    grid-template-columns: 1fr 1fr;
  }

  @include carbon--breakpoint-down("sm") {
    grid-template-columns: 1fr;
  }
}

.palettes-container.alert-container {
  width: 66.66%;
  grid-template-columns: 1fr 1fr;

  @include carbon--breakpoint-down("sm") {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// COLOR
.color-palette-color {
  height: 3rem;
  font-family: "IBM Plex Mono";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.light-text {
  color: $text-04;
}

// DARK MODE
.dark-mode .color-palette-color {
  outline: 1px solid black;
}

.dark-mode .group-container {
  background-color: black;
  outline: 1px solid black;
}

.dark-mode .group-container .color-palette-color {
  outline: none;
  border-bottom: 1px solid black;
}

.dark-mode .group-option {
  background: black;
  color: var(--cds-inverse-01, #ffffff);
}

.dark-mode .group-container + .group-container .group-option::before {
  background-color: $icon-02;
}

// GROUP
.group-container .color-palette-color {
  border-bottom: 1px solid $ui-03;

  &:last-of-type {
    border-bottom: none;
  }
}

.group-option {
  height: 3rem;
  background-color: var(--cds-inverse-01, #ffffff);
  padding: 1.5rem 0 0.5rem 1rem;
  align-content: center;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

// responsive group option dividers
.group-container + .group-container .group-option::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 1px);
  top: -1px;
  left: -1px;
  background-color: $ui-03;

  @include carbon--breakpoint-down("sm") {
    display: none; //all indiv rows, so don't need a left "border"
  }
}

.group-container + .group-container:nth-child(4) .group-option::before {
  @include carbon--breakpoint-up("md") {
    display: none; //4 starts a new row, so it doesn't need a left "border"
  }
}

.group-container + .group-container:nth-child(3) .group-option::before,
.group-container + .group-container:nth-child(5) .group-option::before {
  @include carbon--breakpoint-between("sm", "md") {
    display: none; // 3/5 start a new row, so it don't need a left "border"
  }
}

// SEQUENTIAL
.sequential-controls {
  margin-bottom: 0;
}

.sequential-controls .palette-switcher {
  border-bottom: 1px solid $ui-03;
}

.sequential-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 66.66%;

  @include carbon--breakpoint-down("md") {
    width: 100%;
  }

  @include carbon--breakpoint-down("sm") {
    grid-template-columns: 1fr;
  }
}

.sequential {
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 0;
}

.sequential:last-of-type {
  border-left: 1px solid white;
}

.sequential-container
  .palettes-container:nth-child(even)
  .group-option::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 1px);
  top: -1px;
  left: -1px;
  background-color: $ui-03;

  @include carbon--breakpoint-down("sm") {
    display: none; //all indiv rows, so don't need a left "border"
  }
}

.gradient-purple {
  background: linear-gradient(
    to bottom,
    #f6f2ff,
    #e8daff,
    #d4bbff,
    #be95ff,
    #a56eff,
    #8a3ffc,
    #6929c4,
    #491d8b,
    #31135e,
    #1c0f30
  );
}

.gradient-blue {
  background: linear-gradient(
    to bottom,
    #edf5ff,
    #d0e2ff,
    #a6c8ff,
    #78a9ff,
    #4589ff,
    #0f62fe,
    #0043ce,
    #002d9c,
    #001d6c,
    #001141
  );
}

.gradient-red {
  background: linear-gradient(
    to bottom,
    #750e13,
    #a2191f,
    #da1e28,
    #fa4d56,
    #fa4d56,
    #ffb3b8,
    #ffd7d9,
    #fff1f1,
    #e5f6ff,
    #bae6ff,
    #82cfff,
    #33b1ff,
    #1192e8,
    #0072c3,
    #00539a,
    #003a6d
  );
}

.gradient-teal {
  background: linear-gradient(
    to bottom,
    #491d8b,
    #6929c4,
    #8a3ffc,
    #a56eff,
    #be95ff,
    #d4bbff,
    #e8daff,
    #f6f2ff,
    #d9fbfb,
    #9ef0f0,
    #3ddbd9,
    #08bdba,
    #009d9a,
    #007d79,
    #005d5d,
    #004144
  );
}

.gradient-cyan {
  background: linear-gradient(
    to bottom,
    #e5f6ff,
    #bae6ff,
    #82cfff,
    #33b1ff,
    #1192e8,
    #0072c3,
    #00539a,
    #003a6d,
    #012749,
    #1c0f30
  );
}

.gradient-teal-only {
  background: linear-gradient(
    to bottom,
    #d9fbfb,
    #9ef0f0,
    #3ddbd9,
    #08bdba,
    #009d9a,
    #007d79,
    #005d5d,
    #004144,
    #022b30,
    #081a1c
  );
}
