// MAIN CONTAINER
.color-palette-wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}

.color-palette-wrapper * {
  --space: 0; //needed to override global spacing on columns
}

// DROPDOWN
.palette-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
  width: 66.66%;

  @include breakpoint-down('md') {
    width: 100%;
  }

  @include breakpoint-down('sm') {
    grid-template-columns: 1fr;
  }
}

.palette-controls button {
  border: none !important;
}

.group-controls {
  border-bottom: 1px solid $ui-03;
}

.group-controls.dark-controls {
  border-bottom: 2px solid $icon-02; // you can't see it if it's 1px
}

.group-controls :global(.bx--dropdown__wrapper) {
  box-shadow: -2px 0px 0px 0px $ui-03; // adds left divider
}

.group-controls.dark-controls :global(.bx--dropdown__wrapper) {
  box-shadow: -2px 0px 0px 0px solid $icon-02;
}

.palette-controls :global(.bx--dropdown) {
  border-bottom: none; //removes carbon border
}

//SWITCHER
.palette-switcher {
  height: 3rem;
  border-bottom: 1px solid $ui-03;
}

.palette-switcher :global(.bx--content-switcher-btn) {
  border-radius: 0;
  color: $text-01;
}

.palette-switcher :global(.bx--content-switcher--selected) {
  color: $text-04;
}

.palette-switcher :global(.bx--content-switcher-btn:focus) {
  outline: 1px solid $inverse-focus-ui;
  box-shadow: none;
  outline-offset: -4px;
}

.palette-switcher :global(.bx--content-switcher-btn) {
  border-radius: 0;
}

.palette-switcher
  :global(.bx--content-switcher-btn:not(.bx--content-switcher--selected)) {
  background-color: $inverse-01;
}

.palette-switcher
  :global(.bx--content-switcher-btn:not(.bx--content-switcher--selected):hover) {
  background-color: $hover-ui;
}

// COLORS CONTAINER
.palettes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;

  @include breakpoint-down('lg') {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-down('md') {
    grid-template-columns: 1fr;
  }
}

.palettes-container.alert-container {
  width: 66.66%;
  grid-template-columns: 1fr 1fr;

  @include breakpoint-down('md') {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// COLOR
.color-palette-color {
  height: 3rem;
  @include type-style('code-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.text-light {
  color: $text-04;
}

// DARK MODE
.dark-mode .color-palette-color {
  outline: 1px solid $ui-05;
}

.dark-mode .group-container {
  background-color: $ui-05;
  outline: 1px solid $ui-05;
}

.dark-mode .group-container .color-palette-color {
  outline: none;
  border-bottom: 1px solid $ui-05;
}

.dark-mode .group-option {
  background: $ui-05;
  color: var(--cds-inverse-01, #ffffff);
}

.dark-mode .group-container + .group-container .group-option::before {
  background-color: $icon-02;
}

// GROUP
.group-container .color-palette-color {
  border-bottom: 1px solid $ui-03;

  &:last-of-type {
    border-bottom: none;
  }
}

.group-option {
  height: 3rem;
  background-color: var(--cds-inverse-01, #ffffff);
  padding: 1.5rem 0 0.5rem 1rem;
  align-content: center;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

// responsive group option dividers
.group-container + .group-container .group-option::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  left: -1px;
  background-color: $ui-03;

  @include breakpoint-down('md') {
    display: none; //all indiv rows, so don't need a left "border"
  }
}

.group-container + .group-container:nth-child(4) .group-option::before {
  @include breakpoint-up('lg') {
    display: none; //4 starts a new row, so it doesn't need a left "border"
  }
}

.group-container + .group-container:nth-child(3) .group-option::before,
.group-container + .group-container:nth-child(5) .group-option::before {
  @include breakpoint-between('md', 'lg') {
    display: none; // 3/5 start a new row, so it don't need a left "border"
  }
}

// SEQUENTIAL
.sequential-controls {
  margin-bottom: 0;
  border-bottom: 1px solid $ui-03;
}

.sequential-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 66.66%;

  @include breakpoint-down('lg') {
    width: 100%;
  }

  @include breakpoint-down('md') {
    grid-template-columns: 1fr;
  }
}

.sequential {
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 0;
}

// column divider
.sequential:nth-child(even) {
  @include breakpoint('md') {
    border-left: 1px solid $ui-02;
  }
}

// group option divider
.sequential-container
  .palettes-container:nth-child(even)
  .group-option::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  left: -1px;
  background-color: $ui-03;

  @include breakpoint-down('md') {
    display: none; //all indiv rows, so don't need a left "border"
  }
}

.gradient-purple {
  background: linear-gradient(
    to bottom,
    #f6f2ff,
    #e8daff,
    #d4bbff,
    #be95ff,
    #a56eff,
    #8a3ffc,
    #6929c4,
    #491d8b,
    #31135e,
    #1c0f30
  );
}

.gradient-blue {
  background: linear-gradient(
    to bottom,
    #edf5ff,
    #d0e2ff,
    #a6c8ff,
    #78a9ff,
    #4589ff,
    #0f62fe,
    #0043ce,
    #002d9c,
    #001d6c,
    #001141
  );
}

.gradient-red {
  background: linear-gradient(
    to bottom,
    #750e13,
    #a2191f,
    #da1e28,
    #fa4d56,
    #fa4d56,
    #ffb3b8,
    #ffd7d9,
    #fff1f1,
    #e5f6ff,
    #bae6ff,
    #82cfff,
    #33b1ff,
    #1192e8,
    #0072c3,
    #00539a,
    #003a6d
  );
}

.gradient-teal {
  background: linear-gradient(
    to bottom,
    #491d8b,
    #6929c4,
    #8a3ffc,
    #a56eff,
    #be95ff,
    #d4bbff,
    #e8daff,
    #f6f2ff,
    #d9fbfb,
    #9ef0f0,
    #3ddbd9,
    #08bdba,
    #009d9a,
    #007d79,
    #005d5d,
    #004144
  );
}

.gradient-cyan {
  background: linear-gradient(
    to bottom,
    #e5f6ff,
    #bae6ff,
    #82cfff,
    #33b1ff,
    #1192e8,
    #0072c3,
    #00539a,
    #003a6d,
    #012749,
    #1c0f30
  );
}

.gradient-teal-only {
  background: linear-gradient(
    to bottom,
    #d9fbfb,
    #9ef0f0,
    #3ddbd9,
    #08bdba,
    #009d9a,
    #007d79,
    #005d5d,
    #004144,
    #022b30,
    #081a1c
  );
}
