@import '~carbon-components/scss/components/copy-button/copy-button';

.bx--copy-btn {
  background-color: var(--cds-layer);
}

.bx--copy-btn:hover {
  background-color: var(--cds-layer-hover);
}

.bx--typeset-example-container {
  margin-top: $spacing-05;
}

.bx--typeset-example {
  margin-top: $spacing-05;
  margin-left: -$spacing-03;
  margin-right: -$spacing-03;

  @include breakpoint('md') {
    margin-left: 0;
    margin-right: 0;
  }
}

.bx--typeset-example-row {
  background-color: $white-0;
  min-height: rem(216px);
}

.bx--typeset-example-group-title {
  background-color: $gray-20;
  height: 4rem;
}

.bx--typeset-example-description {
  padding: $spacing-05;
  overflow: hidden;

  @include breakpoint('md') {
    width: 62.5%;
    padding-right: 15%;
  }

  @include breakpoint('lg') {
    width: 66.7%;
  }
}

.bx--typeset-example-specs {
  padding: $spacing-05 $spacing-06;

  @include breakpoint('md') {
    width: 33.3%;
    border-left: 1px solid $gray-20;
  }
}

.bx--typeset-example-specs-text {
  margin-bottom: $spacing-03;
}

.bx--typeset-example-code-style {
  display: block;
  margin-top: $spacing-03;
}
