.call-to-action {
  z-index: 1;
}

.callout-link {
  @include carbon--type-style("body-long-02");
  margin-top: $spacing-06;
  display: block;
}

:global {
  .container--homepage [class*="Main"] {
    padding-top: 3rem;
  }
}
