# This file determines the code owners for various directories within the IBM Carbon website.

# Vikki Paterson is code owner for Experimental IDE patterns
src/pages/experimental/create-flows/* @vikkipaterson
src/pages/experimental/delete-pattern/* @vikkipaterson
src/pages/experimental/export-pattern/* @vikkipaterson
src/pages/experimental/generate-an-api-key/* @vikkipaterson
src/pages/experimental/import-pattern/* @vikkipaterson
src/pages/experimental/remove-pattern/* @vikkipaterson

# Vincent Snagg is code owner for Experimental Watson Health patterns
src/pages/experimental/chatbot/* @vincentsnagg

# Adriana Morales is code owner for Experimental Cloud PAL patterns
src/pages/experimental/order-summary-template/* @adrianamorales
src/pages/experimental/cards/* @adrianamorales
src/pages/experimental/dashboard-widgets/* @adrianamorales

# Chris Reckling is the code owner for Experimental IoT patterns
src/pages/experimental/login-pattern/* @creckling

# Eliad Moosavi and Natasha Decoste are the code owners for Data Visualization
src/pages/data-visualization/* @theiliad @natashadecoste
