# Default to the system team
* @carbon-design-system/developers-system

*.conf @vpicone

# If updating content (mdx) opt for systems team
*.mdx @carbon-design-system/developers-system @carbon-design-system/content

# Vikki Paterson is code owner for Experimental IDE patterns
src/pages/community/patterns/create-flows/* @vikkipaterson
src/pages/community/patterns/delete-pattern/* @vikkipaterson
src/pages/community/patterns/export-pattern/* @vikkipaterson
src/pages/community/patterns/generate-an-api-key/* @vikkipaterson
src/pages/community/patterns/import-pattern/* @vikkipaterson
src/pages/community/patterns/remove-pattern/* @vikkipaterson

# Vincent Snagg is code owner for Experimental Watson Health patterns
src/pages/community/patterns/chatbot/* @vincentsnagg

# Adriana Morales is code owner for Experimental Cloud PAL patterns
src/pages/community/patterns/order-summary-template/* @adrianamorales
src/pages/community/patterns/cards/* @adrianamorales
src/pages/community/patterns/dashboard-widgets/* @adrianamorales

# Chris Reckling is the code owner for Experimental IoT patterns
src/pages/community/patterns/login-pattern/* @lukefirth

# Eliad Moosavi and Natasha Decoste are the code owners for Data Visualization
src/pages/data-visualization/* @theiliad @natashadecoste

# Cal Smith for Angular tutorial
/src/pages/tutorial/angular/* @cal-smith

# Lee Chase for Vue tutorial
/src/pages/tutorial/vue/* @lee-chase
