{
  "plugins": ["@loadable/babel-plugin"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            "last 1 edge version",
            "last 1 firefox version",
            "last 1 safari version",
            "last 1 chrome version"
          ]
        }
      }
    ]
  ]
}
