{
  "extends": ["eslint-config-carbon"],
  "plugins": ["react-hooks"],
  "rules": {
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "arrow-body-style": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "fathom": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": "src"
      }
    }
  }
}
