{
  "extends": ["carbon"],
  "globals": {
    "fathom": "readonly"
  },
  "root": true,
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/jsx-props-no-spreading": 0,
    "react/state-in-constructor": ["error", "never"],
    "no-useless-escape": 0,
    "react/forbid-dom-props": 0,
    "react/forbid-component-props": 0
  }
}
