.profileContainer:nth-child(3n + 2),
.profileContainer:nth-child(3n + 3) {
  border-left: 1px solid $carbon--gray-30;
  border-bottom: 1px solid $carbon--gray-30;
}

.profileContainer:nth-child(3n + 1) {
  border-bottom: 1px solid $carbon--gray-30;
}

.profileContainer:nth-last-child(-n + 3) {
  @include carbon--breakpoint('lg') {
    border-bottom: 0px;
  }
}

.profileContainer:nth-last-child(-n + 2) {
  @include carbon--breakpoint('md') {
    border-bottom: 0px;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $carbon--white-0;
}

.contentContainer {
  width: 100%;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.nameStyle {
  @include carbon--type-style('heading-01', true);
  color: $carbon--black-100;
  padding-left: $spacing-05;
  padding-top: $spacing-05;
}

.titleStyle {
  @include carbon--type-style('label-01', true);
  color: $carbon--gray-80;
  padding-left: $spacing-05;
  width: 95%;
}
