.profileContainer:nth-child(3n + 2),
.profileContainer:nth-child(3n + 3) {
  border-left: 1px solid $carbon--gray-30;
  border-bottom: 1px solid $carbon--gray-30;
}

.profileContainer:nth-child(3n + 1) {
  border-bottom: 1px solid $carbon--gray-30;
}

.profileContainer:nth-last-child(-n + 3) {
  @include carbon--breakpoint('lg') {
    border-bottom: 0px;
  }
}

.profileContainer:nth-last-child(-n + 2) {
  @include carbon--breakpoint('md') {
    border-bottom: 0px;
  }
}

.anchorContainer {
  text-decoration: none;
}

.cardContainer:hover {
  background-color: $carbon--gray-20;
  transition: all $duration--moderate-01 $carbon--standard-easing;
}

.cardContainer:active {
  border: 2px solid $carbon--blue-60;
  transition: all $duration--moderate-01 $carbon--standard-easing;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $carbon--gray-10;
}

.contentContainer {
  width: 100%;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.nameStyle {
  @include carbon--type-style('body-short-01', true);
  color: $carbon--black-100;
  padding-left: 1rem;
  padding-top: 1rem;
}

.titleStyle,
.buStyle {
  @include carbon--type-style('label-01', true);
  color: $carbon--gray-80;
  padding-left: 1rem;
  width: 95%;
}
