//---------------------------------------
// Principles page
//---------------------------------------
.list-section {
  --space: 24px;
  padding-top: 2rem;
}

.list-section::before {
  content: '';
  display: block;
  background: $ui-04;
  height: 1px;
  width: calc(100% - 2rem);
  margin: 0rem 1rem 1.5rem 1rem;
}

.list-section h2 {
  margin-top: 0;
}

// Principles/Layout page
.list-section [class*='#{$prefix}--col'] {
  margin-bottom: 1.5rem;
  @include carbon--breakpoint('md') {
    margin-bottom: 0;
  }
}
