.overview-card-group {
  margin: $spacing-05 0 $spacing-07;
}

.overview-card-group .overview-card {
  border-top: 1px solid $carbon--gray-20;
  border-left: 1px solid $carbon--gray-20;
}

.overview-card-group .#{$prefix}--col-sm-2:nth-child(-n + 2) .overview-card {
  border-top: 0px solid transparent;
}

@include carbon--breakpoint('md') {
  .overview-card-group .#{$prefix}--col-lg-3:nth-child(-n + 4) .overview-card {
    border-top: 0px solid transparent;
  }

  .overview-card-group .#{$prefix}--col-lg-3:nth-child(4n-7) .overview-card {
    border-left: 0px solid transparent;
  }
}
