.overview-card-group {
  @include carbon--breakpoint('md') {
    margin: $spacing-05 rem(-16px) $spacing-07 rem(-16px);
  }
}

.overview-card-group .#{$prefix}--no-gutter-sm {
  --space: 0;
}

.overview-card-group .overview-card {
  @include carbon--breakpoint('lg') {
    border-left: 1px solid $carbon--gray-20;
  }
}

//always and forever, the first item has no left border
.overview-card-group .#{$prefix}--col-lg-4:first-child .overview-card {
  border-left: 1px solid transparent;
}

@include carbon--breakpoint-down('lg') {
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(even) .overview-card {
    border-left: 1px solid $carbon--gray-20;
  }

  //selects every item after the first 2
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(n + 3) .overview-card {
    border-top: 1px solid $carbon--gray-20;
  }
}

@include carbon--breakpoint-between('lg', 'xlg') {
  //selects every item after the first 3
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(n + 4) .overview-card {
    border-top: 1px solid $carbon--gray-20;
  }

  //selects every third item starting at the second item (4, 7, 10, 13, 16...)
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(3n + 4) .overview-card {
    border-left: 1px solid transparent;
  }
}

@include carbon--breakpoint('xlg') {
  .overview-card-group .bx--col-max-3 {
    flex: 0 0 25%;
    width: 25%;
  }

  //selects every fourth item starting at the second item
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(3n + 5) .overview-card {
    border-left: 1px solid transparent;
  }

  //selects every item after the first 4
  .overview-card-group .#{$prefix}--col-lg-4:nth-child(n + 5) .overview-card {
    border-top: 1px solid $carbon--gray-20;
  }
}
