.overview-card {
  position: relative;
}

.overview-card .#{$prefix}--tile {
  height: 100%;
  padding: $spacing-05;
  position: relative;
  text-decoration: none;
  background: $carbon--white-0;
  transition: background $transition--base;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: $hover-ui;
  }

  &:active {
    background: $active-ui;
  }
}

.overview-card__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.overview-card__title {
  @include carbon--type-style("caption-01");
  text-decoration: none;
  color: $text-01;
  position: relative;
  z-index: 1;
}

.overview-card .bx--tag {
  margin-top: -0.25rem;
  white-space: nowrap;
}

// Image
.overview-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overview-card__img .gatsby-resp-image-wrapper,
.overview-card__img img[src*="svg"],
.overview-card__img img[src*="gif"] {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  top: -1px;
  left: -1px;
  background: transparent;
}

.overview-card .#{$prefix}--tile:hover .overview-card__img:after {
  opacity: 1;
}

// Disabled
.overview-card--disabled .#{$prefix}--tile:hover {
  background: $carbon--white-0;
  cursor: not-allowed;
}

.overview-card--disabled .overview-card__title {
  color: $disabled-03;
}

.overview-card--disabled .overview-card__img {
  filter: grayscale(1);
  opacity: 0.3;
}
