:global(.page-table) .tag {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
:global(.page-table) td span:last-of-type .tag {
  margin-bottom: 0;
}

:global(.cds--popover-container .cds--definition-term) {
  border: none;
}

:global(.cds--popover-container .cds--definition-term) .tag span {
  border-block-end: 1px dotted $border-strong;
  cursor: pointer;
}
