//---------------------------------------
// Contributing / Component checklist
//---------------------------------------

// custom table styles
// align to grid
.table--component-checklist .page-table {
  th:first-child {
    // 2 columns
    width: 15.4%;
  }
  th:nth-child(2) {
    // 5 columns
    width: 41.6%;
  }
}
