// Add grid flex back in for nested grid-demo class
// Nested grid styles are currently cleared at theme level
.container .#{$prefix}--row .grid-demo .#{$prefix}--row > div {
  flex-basis: 0;
  flex-grow: 1;
}

.grid-demo {
  background: $ui-background;
  padding: $spacing-09 $spacing-05;
}

.grid-demo .#{$prefix}--grid {
  padding: 0;
}

.grid-demo [class*='col'] {
  @include carbon--type-style('body-short-01');
  min-height: 4rem;
  background-color: $carbon--blue-10;
  outline: 1px solid $carbon--blue-30;
}

// Full width code snippet
.grid-demo + pre > div[class*='Code-module--row'] {
  width: 100%;
}
