@use '@carbon/grid/scss/flex-grid' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/compat/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

//---------------------------------------
// Set 16 column grid for examples only
//---------------------------------------
.grid-demo.override.override {
  // $prefix: 'cds';

  $grid-breakpoints: (
    sm: (
      columns: 4,
      margin: 0,
      width: rem(320px),
    ),
    md: (
      columns: 8,
      margin: rem(16px),
      width: rem(672px),
    ),
    lg: (
      columns: 16,
      margin: rem(16px),
      width: rem(1056px),
    ),
    xlg: (
      columns: 16,
      margin: rem(16px),
      width: rem(1312px),
    ),
    max: (
      columns: 16,
      margin: rem(24px),
      width: rem(1584px),
    ),
  ) !default;

  @include flex-grid($grid-breakpoints);
  // @import '~carbon-components/scss/globals/grid/grid';
  // @import '~carbon-components/scss/globals/scss/layout';
}

.cds-sm {
  @include breakpoint('md') {
    display: none;
  }
}

.cds-md {
  display: none;

  @include breakpoint('md') {
    display: inline;
  }

  @include breakpoint('lg') {
    display: none;
  }
}

.cds-lg {
  display: none;

  @include breakpoint('lg') {
    display: inline;
  }
}

// Hidden class helpers
.hide-sm {
  display: none;

  @include breakpoint('md') {
    display: block;
  }
}

.hide-md {
  display: none;

  @include breakpoint('lg') {
    display: block;
  }
}

//---------------------------------------
// Grid demo
//---------------------------------------

.grid-demo {
  background: $layer-01;
  padding: $spacing-05 0;
  display: flex;
  position: relative;
}

.grid-demo .cds--grid {
  margin: 0;
  flex-grow: 1;
  padding-left: $spacing-07;
  padding-right: $spacing-07;
}

.grid-demo [class*='col'] {
  @include type-style('caption-01');
  padding-top: $spacing-05;
  min-height: 4rem;
  background-color: $blue-10;
  outline: 1px solid $blue-30;
}

.grid-demo--wide [class*='col'] {
  background-color: $blue-20;
  padding-top: 0;
}

.grid-demo--narrow [class*='col'] {
  background-color: $teal-20;
  outline: 1px solid $teal-30;
  padding-top: 0;
}

.grid-demo--condensed [class*='col'] {
  background-color: $purple-30;
  outline: 1px solid $purple-30;
  padding-top: 0;
}

.grid-demo-content {
  height: 100%;
}

.grid-demo--wide .grid-demo-content {
  background-color: $blue-10;
}

.grid-demo--narrow .grid-demo-content {
  background-color: $teal-10;
}

.grid-demo--condensed .grid-demo-content {
  background-color: $purple-10;
}

// Full bleed
.grid-demo--bleed {
  padding-top: $spacing-05;
}

.grid-demo--bleed .cds--grid {
  background-color: $blue-30;
  padding-top: 0;
  padding-bottom: 0;
  outline: 1px solid $blue-30;
}

//---------------------------------------
// Aspect ratio
//---------------------------------------

.aspect-ratio-demo {
  display: block;
}

.aspect-ratio-demo [class*='col'] {
  padding-bottom: $spacing-05;
}

.aspect-ratio-demo .cds--grid {
  margin-top: $spacing-05;
}

.aspect-ratio-demo .cds--grid:first-child {
  margin-top: 0;
}

.aspect-ratio-content {
  height: 100%;
}

//---------------------------------------
// Shell collapsed/expanded
//---------------------------------------
.grid-demo .side-nav + .cds--grid {
  @include breakpoint('md') {
    padding-left: $spacing-05;
  }
}

.grid-demo .side-nav {
  height: 16rem;
  width: 3rem;
  background-color: $blue-20;
  outline: 1px solid $blue-30;
  margin-left: $spacing-05;
  display: none;

  @include breakpoint('md') {
    display: block;
  }
}

.grid-demo .side-nav--expanded {
  width: 16rem;
  position: absolute;
  display: block;
  height: 12rem;

  @include breakpoint('md') {
    position: static;
    height: auto;
  }
}

//---------------------------------------
// Code snippet override (full width)
//---------------------------------------
.grid-demo + pre,
.grid-demo--bleed + pre {
  --space: 0;
}

.grid-demo + pre > div[class*='Code-module--row'],
.grid-demo--bleed + pre > div[class*='Code-module--row'] {
  width: 100%;
  margin-bottom: $spacing-06;
}

//---------------------------------------
// grid code that isn't being pulled in
// with the updated prefix ❓❓❓❓
//---------------------------------------
.cds--grid--condensed .cds--row:not(:last-of-type) {
  margin-bottom: 0.125rem;
}

.cds--grid--condensed .cds--col,
.cds--row--condensed .cds--col {
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
}

.cds--grid--narrow .cds--col,
.cds--row--narrow .cds--col {
  padding-left: 0;
}

//---------------------------------------
// Grid modes section
//---------------------------------------
.grid-modes .cds--col-lg-2 {
  padding-top: $spacing-04;
}

.grid-modes div[class*='Markdown-module--paragraph-row'] {
  margin-bottom: $spacing-03;
}
