//---------------------------------------
// Set 16 column grid for examples only
//---------------------------------------
.grid-demo {
  $prefix: "bx-demo";
  $feature-flags: (
    grid-columns-16: true,
  );
  @import "~carbon-components/scss/globals/grid/grid";
  @import "~carbon-components/scss/globals/scss/layout";
}

.bx-demo-sm {
  @include carbon--breakpoint("md") {
    display: none;
  }
}

.bx-demo-md {
  display: none;

  @include carbon--breakpoint("md") {
    display: inline;
  }

  @include carbon--breakpoint("lg") {
    display: none;
  }
}

.bx-demo-lg {
  display: none;

  @include carbon--breakpoint("lg") {
    display: inline;
  }
}

// Hidden class helpers
.hide-sm {
  display: none;

  @include carbon--breakpoint("md") {
    display: block;
  }
}

.hide-md {
  display: none;

  @include carbon--breakpoint("lg") {
    display: block;
  }
}

//---------------------------------------
// Grid demo
//---------------------------------------

.grid-demo {
  background: $ui-background;
  padding: $spacing-05 0;
  display: flex;
  position: relative;
}

.grid-demo .bx-demo--grid {
  margin: 0;
  flex-grow: 1;
  padding-left: $spacing-07;
  padding-right: $spacing-07;
}

.grid-demo [class*="col"] {
  @include carbon--type-style("caption-01");
  padding-top: $spacing-05;
  min-height: 4rem;
  background-color: $carbon--blue-10;
  outline: 1px solid $carbon--blue-30;
}

.grid-demo--wide [class*="col"] {
  background-color: $carbon--blue-20;
  padding-top: 0;
}

.grid-demo--narrow [class*="col"] {
  background-color: $carbon--teal-20;
  outline: 1px solid $carbon--teal-30;
  padding-top: 0;
}

.grid-demo--condensed [class*="col"] {
  background-color: $carbon--purple-30;
  outline: 1px solid $carbon--purple-30;
  padding-top: 0;
}

.grid-demo-content {
  height: 100%;
}

.grid-demo--wide .grid-demo-content {
  background-color: $carbon--blue-10;
}

.grid-demo--narrow .grid-demo-content {
  background-color: $carbon--teal-10;
}

.grid-demo--condensed .grid-demo-content {
  background-color: $carbon--purple-10;
}

// Full bleed
.grid-demo--bleed {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.grid-demo--bleed .bx-demo--grid {
  background-color: $carbon--blue-30;
  padding-top: 0;
  padding-bottom: 0;
  outline: 1px solid $carbon--blue-30;
}

//---------------------------------------
// Aspect ratio
//---------------------------------------

.aspect-ratio-demo {
  display: block;
}

.aspect-ratio-demo [class*="col"] {
  padding-bottom: $spacing-05;
}

.aspect-ratio-demo .bx-demo--grid {
  margin-top: $spacing-05;
}

.aspect-ratio-demo .bx-demo--grid:first-child {
  margin-top: 0;
}

.aspect-ratio-content {
  height: 100%;
}

//---------------------------------------
// Shell collapsed/expanded
//---------------------------------------
.grid-demo .side-nav + .bx-demo--grid {
  @include carbon--breakpoint("md") {
    padding-left: $spacing-05;
  }
}

.grid-demo .side-nav {
  height: 16rem;
  width: 3rem;
  background-color: $carbon--blue-20;
  outline: 1px solid $carbon--blue-30;
  margin-left: $spacing-05;
  display: none;

  @include carbon--breakpoint("md") {
    display: block;
  }
}

.grid-demo .side-nav--expanded {
  width: 16rem;
  position: absolute;
  display: block;
  height: 12rem;

  @include carbon--breakpoint("md") {
    position: static;
    height: auto;
  }
}

//---------------------------------------
// Code snippet override (full width)
//---------------------------------------
.grid-demo + pre {
  --space: 0;
}

.grid-demo + pre > div[class*="Code-module--row"],
.grid-demo--bleed + pre > div[class*="Code-module--row"] {
  width: 100%;
  margin-bottom: $spacing-06;
}

//---------------------------------------
// grid code that isn't being pulled in
// with the updated prefix ❓❓❓❓
//---------------------------------------
.bx-demo--grid--condensed .bx-demo--row:not(:last-of-type) {
  margin-bottom: 0.125rem;
}

.bx-demo--grid--condensed .bx-demo--col,
.bx-demo--row--condensed .bx-demo--col {
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
}

//---------------------------------------
// Grid modes section
//---------------------------------------
.grid-modes .bx--col-lg-2 {
  padding-top: $spacing-04;
}

.grid-modes div[class*="Markdown-module--paragraph-row"] {
  margin-bottom: $spacing-03;
}
