//---------------------------------------
// Set 16 column grid for examples only
//---------------------------------------
.grid-demo {
  $prefix: 'bx-demo';
  $feature-flags: (
    grid-columns-16: true,
  );
  @import '~carbon-components/scss/globals/grid/grid';
  @import '~carbon-components/scss/globals/scss/layout';
}

.bx-demo-sm {
  @include carbon--breakpoint('md') {
    display: none;
  }
}

.bx-demo-md {
  display: none;

  @include carbon--breakpoint('md') {
    display: inline;
  }

  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.bx-demo-lg {
  display: none;

  @include carbon--breakpoint('lg') {
    display: inline;
  }
}

//---------------------------------------
// Grid demo
//---------------------------------------

.grid-demo {
  background: $ui-background;
  padding: $spacing-05 0;
  display: flex;
}

.grid-demo .bx-demo--grid {
  margin: 0;
  width: 100%;
  padding-left: $spacing-07;
  padding-right: $spacing-07;
}

.grid-demo .side-nav + .bx-demo--grid {
  padding-left: 0;
}

.grid-demo [class*='col'] {
  @include carbon--type-style('caption-01');
  padding-top: $spacing-05;
  min-height: 4rem;
  background-color: $carbon--blue-10;
  outline: 1px solid $carbon--blue-30;
}

.grid-demo--comfortable [class*='col'] {
  background-color: $carbon--blue-20;
  padding-top: 0;
}

.grid-demo--cozy [class*='col'] {
  background-color: $carbon--teal-20;
  outline: 1px solid $carbon--teal-30;
  padding-top: 0;
}

.grid-demo--condensed [class*='col'] {
  background-color: $carbon--purple-20;
  outline: 1px solid $carbon--purple-30;
  padding-top: 0;
}

.grid-demo-content {
  height: 100%;
}

.grid-demo--comfortable .grid-demo-content {
  background-color: $carbon--blue-10;
}

.grid-demo--cozy .grid-demo-content {
  background-color: $carbon--teal-10;
}

.grid-demo--condensed .grid-demo-content {
  background-color: $carbon--purple-10;
}

//---------------------------------------
// Aspect ratio
//---------------------------------------

.aspect-ratio-demo {
  display: block;
}

.aspect-ratio-demo .bx-demo--grid {
  margin-top: $spacing-05;
}

.aspect-ratio-demo .bx-demo--grid:first-child {
  margin-top: 0;
}

.aspect-ratio-content {
  height: 100%;
}

//---------------------------------------
// Shell collapsed/expanded
//---------------------------------------
.grid-demo .side-nav {
  height: 16rem;
  width: 3rem;
  background-color: $carbon--blue-20;
  outline: 1px solid $carbon--blue-30;
  margin-left: $spacing-05;
}

.grid-demo .side-nav--expanded {
  width: 16rem;
}

//---------------------------------------
// Code snippet override (full width)
//---------------------------------------
.grid-demo + pre > div[class*='Code-module--row'] {
  width: 100%;
  margin-bottom: $spacing-06;
}

//---------------------------------------
// grid code that isn't being pulled in
// with the updated prefix ❓❓❓❓
//---------------------------------------
.bx-demo--grid--condensed .bx-demo--row:not(:last-of-type) {
  margin-bottom: 0.125rem;
}

.bx-demo--grid--condensed .bx-demo--col,
.bx-demo--row--condensed .bx-demo--col {
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
}
