// Dots background pattern
.homepage--dots {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3crect width='16' fill='none' height='16'/%3e%3crect x='0' y='0' fill='white' width='1' height='1'/%3e%3c/svg%3e");
  background-size: 16px;
  opacity: 0.35;
}

//make sure content is above dots
.container--homepage div[class*='Main-module--main'],
.container--homepage div[class*='Callout-module--grid'],
.container--homepage div[class*='NextPrevious-module--wrapper'] {
  position: relative;
  z-index: 2;
}

.homepage--header {
  height: 500px;
  overflow: hidden;
  padding-top: 0;
  position: relative;

  // @include breakpoint('lg') {
  //   padding-top: 50%;
  // }

  // Match max height at lg breakpoint
  @include breakpoint('lg') {
    padding: 0;
    height: 560px;
  }
}

.homepage--header .cds--grid {
  background-size: cover;
  background-position: center;
  height: 50vh;
  max-height: 560px;
  width: 100%;
  max-width: 100%;

  @include breakpoint('lg') {
    svg.hero-svg {
      left: 100px !important;
    }
  }
}

.homepage--header .cds--grid,
.homepage--header .cds--row {
  height: 100%;
}

// homepage tile at top
.homepage--tile-header[class*='cds--col'] {
  display: flex;
  align-items: flex-end;
  margin-top: -50%;
  padding-left: 0;
  padding-right: 0;

  @include breakpoint('md') {
    padding-left: $spacing-05;
    padding-right: $spacing-05;
  }

  @include breakpoint('lg') {
    margin-top: 0;
  }

  .cds--aspect-ratio--2x1::before {
    padding-top: 100%;

    @include breakpoint('md') {
      padding-top: 50%;
    }
  }
}

.homepage--tile-header .cds--resource-card {
  width: 100%;
}

.homepage-feature {
  margin-top: $spacing-09;
}

// OVERRIDES
.resource-card-group .cds--resource-card--dark {
  border-color: #000;
}

.resource-card-group .cds--col-lg-4:nth-child(even) .cds--resource-card--dark {
  border-left-color: #000;
}

.cds--side-nav__overlay-active {
  width: 100%;
}
