// Adds white background color to all images
.container .gatsby-resp-image-wrapper,
.container img[src*='gif'],
.container img[src*='svg'] {
  background: $white-0;
}

// Removes white background from images inside cards/icons
.cds--resource-card .gatsby-resp-image-wrapper,
.cds--resource-card img[src*='gif'],
.cds--resource-card img[src*='svg'],
[class^='MiniCard-module--card-'] .gatsby-resp-image-wrapper,
[class^='MiniCard-module--card-'] img[src*='gif'],
[class^='MiniCard-module--card-'] img[src*='svg'] {
  background: transparent;
}

.image--fixed > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $layer-01;
}

.image--fixed span.gatsby-resp-image-wrapper {
  background: $layer-01;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
  width: 70% !important;
  max-width: 100% !important;
}

.image--fixed img.gatsby-resp-image-image {
  max-width: 736px;
  width: 736px !important;
  height: auto !important;
  position: relative !important;
}

// Styles for Contributions Gallery
.contribution-style img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
