// Only adds a background to the direct children of the container
// so we don't end up with white background on transparent
// images used inside of Cards
.container .bx--grid > .gatsby-resp-image-wrapper,
.container .bx--grid > img[src*='gif'],
.container .bx--grid > img[src*='svg'] {
  background: $carbon--white-0;
}

.image--fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $ui-02;
}

.image--fixed span.gatsby-resp-image-wrapper {
  background: $ui-02;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
  width: 70% !important;
  max-width: 100% !important;
}

.image--fixed img.gatsby-resp-image-image {
  max-width: 736px;
  width: 736px !important;
  height: auto !important;
  position: relative !important;
}
