// Adds white background color to all images
.container .gatsby-resp-image-wrapper,
.container img[src*="gif"],
.container img[src*="svg"] {
  background: $carbon--white-0;
}

// Removes white background from images inside cards/icons
.bx--resource-card .gatsby-resp-image-wrapper,
.bx--resource-card img[src*="gif"],
.bx--resource-card img[src*="svg"] {
  background: transparent;
}

.image--fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $ui-02;
}

.image--fixed span.gatsby-resp-image-wrapper {
  background: $ui-02;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
  width: 70% !important;
  max-width: 100% !important;
}

.image--fixed img.gatsby-resp-image-image {
  max-width: 736px;
  width: 736px !important;
  height: auto !important;
  position: relative !important;
}
