// Checkbox uses body text
// https://github.com/carbon-design-system/carbon/issues/4545
[class*='--checkbox-label'],
[class*='accordion__content'] {
  color: var(--cds-text-01, #161616);
}

// Code snippet background?

//---------------------------------------
// Link
//---------------------------------------

.component-example .bx--link {
  font-size: 0.875rem;
}

//---------------------------------------
// Button
//---------------------------------------

.component-example .component-example--button .bx--btn {
  margin: $spacing-03;
}

/* some weird stuff happening here with icon only buttons */
.component-example .bx--btn--icon-only .bx--btn__icon {
  position: absolute;
}

.component-example .component-example--button .bx--btn--icon-only {
  width: 48px;
}

.component-example .component-example--button .bx--btn--icon-only.bx--btn--sm {
  width: 32px;
}

.component-example .bx--btn--icon-only.bx--btn--sm .bx--btn__icon {
  right: 8px;
}

//---------------------------------------
// Notification
//---------------------------------------

.component-example__live.component-example__live--notification
  .component-example__live--rendered
  > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.component-example .bx--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Loading
//---------------------------------------

.component-example .component-example--loading .bx--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Date Picker
//---------------------------------------

// TODO

//---------------------------------------
// Form
//---------------------------------------

.component-example__live .bx--form-item,
.component-example .bx--form-item {
  margin-bottom: $spacing-06;
}

.component-example .bx--form-item.bx--checkbox-wrapper {
  margin-bottom: $spacing-03;
}

//---------------------------------------
// Tabs
//---------------------------------------

.component-example__live--tabs .bx--tabs__nav {
  position: static;
}

.component-example__live .tabs .bx--tabs + div {
  margin-top: $spacing-07;
}

//---------------------------------------
// Tile
//---------------------------------------

.component-example__live--tile .bx--grid {
  outline: 1px dashed #97c1ff;
}

.component-example__live--tile .bx--tile-container .bx--col {
  background: none;
  margin-bottom: $spacing-05;
}

//---------------------------------------
// Date picker
//---------------------------------------

.component-example .flatpickr-calendar {
  margin-left: -1rem;
  margin-top: -1rem;
}

//---------------------------------------
// Tooltip
//---------------------------------------

.component-example__live .bx--tooltip {
  margin-left: -1rem;
  margin-top: -0.5rem;
}

.component-example .bx--tooltip__label {
  margin: 0 $spacing-05;
}

.component-example .bx--tooltip--definition {
  margin: $spacing-05 0;
}

.component-example .bx--tooltip__label .bx--tooltip__trigger {
  margin-left: $spacing-03;
}

//---------------------------------------
// Modal
//---------------------------------------

.component-example__live.component-example__live--modal .bx--modal {
  z-index: 10000;
}

//---------------------------------------
// Progress Indicator
//---------------------------------------

.component-example__live .bx--progress .bx--tooltip {
  margin-left: 1.375rem;
  margin-top: 2.5rem;
}

//---------------------------------------
// Not-nested bullet alignment
//---------------------------------------

.bx--list--unordered,
.bx--list--ordered {
  margin-left: 1rem;
}

//---------------------------------------
// Nested bullet alignment
//---------------------------------------

.bx--list--nested .bx--list--unordered,
.bx--list--ordered {
  margin-left: 0.5rem;
}
