[class^='FourOhFour-module--container'] {
  margin-top: 3rem;
}

// allow tooltips to be visible outside edge of table
// table needs overflow at mobile to scroll
.page-table__container {
  @include breakpoint('md') {
    overflow: visible;
  }
}

// Fix for list items inside accordion content to span full width
.cds--accordion__content .cds--list--unordered {
  width: 100%;

  > .cds--list__item {
    max-width: 100%;
    width: 100%;
  }
}
