//---------------------------------------
// P
//---------------------------------------
.paragraph {
  @include type-style('body-long-02');
  margin-bottom: $spacing-06;
  padding-right: $spacing-07;
}

// Responsive by default
.paragraph--responsive {
  margin-left: -$spacing-05;
  padding-left: $spacing-05;

  // 6 col
  @include breakpoint('md') {
    width: 75%;
  }

  // 8 col
  @include breakpoint('lg') {
    width: 66.667%;
  }
}

//---------------------------------------
// Responsive widths
//---------------------------------------

.page-h1,
.page-h2,
.page-h3,
.page-h4,
.page-h5,
.page-h6,
.list {
  width: 100%;
  @include breakpoint('md') {
    width: 75%;
  }
  @include breakpoint('lg') {
    width: 66.667%;
  }
}

//---------------------------------------
// Headings
//---------------------------------------

.page-h1 {
  margin-top: $spacing-12;
  margin-bottom: $spacing-05;
  @include type-style('expressive-heading-05', true);
}

.page-h2 {
  margin-top: $spacing-11;
  margin-bottom: $spacing-05;
  @include type-style('expressive-heading-04', true);
}

.page-h3 {
  margin-top: $spacing-10;
  margin-bottom: $spacing-05;
  @include type-style('expressive-heading-03', true);
}

.page-h4 {
  margin-top: $spacing-04;
  @include type-style('heading-02');
}

.page-h5,
.page-h6 {
  // h5 and h6 intentionally mimic one another
  margin-top: $spacing-04;
  @include type-style('heading-01');
}

//---------------------------------------
// Tabs
//---------------------------------------

section[role='tabpanel'] [class*='--col'] + [class*='--col'] {
  @include breakpoint-down('md') {
    margin-top: 1rem;
  }
}

.tab--columns_label {
  margin-bottom: 0.5rem;
}

//---------------------------------------
// Tooltip
//---------------------------------------

.tooltip-trigger {
  @include button-reset.reset();

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
}

.tooltip-trigger svg {
  fill: theme.$background-inverse;
}
