//---------------------------------------
// Structured list
//
// .cds--row > * >  is being used to ensure
// these styles are only applied to
// structured lists on pages and not the
// component example
//
//---------------------------------------
.cds--row > * > .cds--structured-list .cds--structured-list-row {
  display: flex;
  justify-content: space-evenly;
}

.cds--row > * > .cds--structured-list .cds--structured-list-row--header-row {
  background: $background;
  border-bottom: none;
}

.cds--row > * > .cds--structured-list .cds--structured-list-th {
  height: rem(48px);
  padding-bottom: $spacing-04;
  width: 50%;
}

.cds--row > * > .cds--structured-list .cds--structured-list-td {
  width: 50%;
  color: $text-01;
}
