//---------------------------------------
// Structured list
//
// .bx--row > * >  is being used to ensure
// these styles are only applied to
// structured lists on pages and not the
// component example
//
//---------------------------------------
.bx--row > * > .bx--structured-list .bx--structured-list-row {
  display: flex;
  justify-content: space-evenly;
}

.bx--row > * > .bx--structured-list .bx--structured-list-row--header-row {
  background: $ui-background;
  border-bottom: none;
}

.bx--row > * > .bx--structured-list .bx--structured-list-th {
  height: rem(48px);
  padding-bottom: $spacing-04;
  width: 50%;
}

.bx--row > * > .bx--structured-list .bx--structured-list-td {
  width: 50%;
  color: $text-01;
}
