//---------------------------------------
// Events page
//---------------------------------------
.events-list {
  padding-top: $spacing-09;
}

.events-list:before {
  content: '';
  display: block;
  background: $ui-04;
  height: 1px;
  width: calc(100% - 2rem);
  margin: -$spacing-07 0 0 $spacing-05;
}

.events-list h2 {
  margin-top: 0;
}

.events-list h3 {
  margin-top: $spacing-03;
}

div[class*='CardGroup-module'] {
  width: 50%;
}
