//---------------------------------------
// Events page
//---------------------------------------
.events-list {
  padding-top: $layout-05;
}

.events-list:before {
  content: '';
  display: block;
  background: $ui-03;
  height: 1px;
  width: calc(100% - 2rem);
  margin: -$spacing-07 0 0 $spacing-05;
}

.events-list h2 {
  margin-top: 0;
  font-weight: 600;
  width: 100%;
}

.events-list h2 span {
  font-weight: 400;
  display: block;
}

// needed to make the card hang since it is nested inside another column
.events-list.bx--row div[class*='CardGroup-module'] {
  width: calc(50% + 1rem);
  margin-left: -1rem;
}
