$flex-grid-columns: 12;

@import '~@carbon/charts/styles.css';

@import 'mixins';

@import 'page';
@import 'images';
@import 'homepage';
@import 'grid-demo';
@import 'structured-list';
@import 'plex-serif';
@import 'meetups';

@import 'src/components/ColorBlock/color-block.scss';
@import 'src/components/ColorGrid/color-grid.scss';
@import 'src/components/ColorTokenTable/color-token-table.scss';
@import 'src/components/ComponentOverview/component-overview.scss';
@import 'src/components/ComponentIndexPage/component-index.scss';
@import 'src/components/ComponentStatus/component-status.scss';
@import 'src/components/GlossaryComponent/GlossaryList/glossary-list.scss';
@import 'src/components/GlossaryComponent/GlossaryNav/glossary-nav.scss';
@import 'src/components/TypeScaleTable/type-scale-table.scss';
@import 'src/components/TypeWeight/type-weight.scss';
@import 'src/components/HomepageVideo/homepage-video.scss';
@import 'src/components/TypesetStyle/typeset-style.scss';
@import 'src/components/TypesetStyle/typeset-example.scss';
@import 'src/components/OverviewCard/overview-card.scss';
@import 'src/components/OverviewCard/overview-card-group.scss';
@import 'src/pages/data-visualization/data-visualization.scss';
