.layout :global {
  .bx--header {
    top: 0;
  }
  [class*='leftNavWrapper'] {
    top: 0;
    // Prevents left nav jitter on page change
    transition: none;
  }
  [class*='Switcher-module--nav'] {
    top: 3rem;
  }
  [class*='PageTabs-module--tabs-container'] {
    top: 3rem;
  }
  [class*='filter-row'] {
    top: 7rem;
  }
  .color-token-table .bx--sticky-container-visible {
    top: 7rem;
  }
  .bx--typeset-style-container .bx--sticky-container-visible {
    top: 4rem;
  }
}

// Principles/Layout page
.divided-section [class*='#{$prefix}--col'] {
  margin-bottom: 1.5rem;
  @include breakpoint('md') {
    margin-bottom: 0;
  }
}

.divided-section {
  --space: 24px;
  padding-top: 2rem;
}

.divided-section:before {
  content: '';
  display: block;
  background: $ui-04;
  height: 1px;
  width: calc(100% - 2rem);
  margin: 0rem 1rem 1.5rem 1rem;
}

.divided-section h2,
.divided-section h3,
.divided-section h4 {
  margin-top: 0;
}

.divided-section p {
  padding-right: 3rem !important;
}
