.layout :global {
  .bx--header {
    top: 3rem;
  }
  [class*="leftNavWrapper"] {
    top: 3rem;
  }
  [class*="Switcher-module--nav"] {
    top: 6rem;
  }
  [class*="PageTabs-module--tabs-container"] {
    top: 6rem;
  }
  [class*="filter-row"] {
    top: 10rem;
  }
  [class*="color-token-table"] {
    top: 10rem;
  }
}

.banner {
  @include carbon--type-style("body-short-02");
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z("floating");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: $text-04;
  background: $support-04;
  @include carbon--breakpoint-down("sm") {
    @include carbon--type-style("body-short-01");
    flex-direction: column;
  }
}

.banner a {
  color: $text-04;
}
