.layout :global {
  .bx--header {
    top: 2rem;
  }
  [class*="leftNavWrapper"] {
    top: 2rem;
  }
  [class*="Switcher-module--nav"] {
    top: 5rem;
  }
  [class*="PageTabs-module--tabs-container"] {
    top: 5rem;
  }
  [class*="filter-row"] {
    top: 9rem;
  }
  [class*="color-token-table"] {
    top: 9rem;
  }
}

.banner {
  @include carbon--type-style("heading-01");
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z("floating");
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  padding-left: $spacing-05;
  color: $text-04;
  background: $support-04;
}

.banner a {
  color: $text-04;
  @include carbon--type-style("body-short-01");
}
