//---------------------------------------
// Tooltip
//---------------------------------------

.tooltip {
  @include button-reset.reset();

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
}

.tooltip-trigger svg {
  fill: theme.$background-inverse;
}
