@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/utilities/button-reset';

.tooltip-trigger {
  @include button-reset.reset();

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid theme.$border-subtle;
}

.tooltip-trigger svg {
  fill: theme.$background-inverse;
}
