.homepage-video--main {
  width: 180%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  @include carbon--breakpoint('md') {
    width: 100%;
  }
}

.homepage-video--wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 56.25%; //needed to make video fit container
}

.homepage-video--wrapper video {
  width: 100%;
  object-fit: cover;
  @include carbon--breakpoint-down(1260px) {
    top: -10%;
  }

  @include carbon--breakpoint-down(1100px) {
    top: 0;
  }
}

.homepage--video--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $carbon--black-100;
  opacity: 0.6;
}

.homepage-video--controls {
  position: absolute;
  bottom: rem(14px);
  left: 1rem;
  height: rem(24px);
  width: rem(24px);
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  z-index: 10; //need this to be above dots overlay

  @include carbon--breakpoint('lg') {
    left: 271px;
  }
}

.homepage-video--controls svg {
  fill: white;
}

.homepage-video--controls:focus {
  @include focus-outline('outline');
}
