.color-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @include carbon--breakpoint('md') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.color-grid__swatch::before {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}
