.demo-container {
  display: flex;
  border: 1px solid $ui-03;
  margin-top: 0;
}

.knob-form-item {
  width: 100%;
}

.knob-form-item [class*='input'] {
  width: 100%;
}

.knob-container {
  width: 320px;
  overflow: hidden;
  background-color: $ui-background;
  border-left: 1px solid $ui-03;
}

.knob-component-group-wrapper {
  padding: $spacing-05;
  border-bottom: 1px solid $ui-03;
  &:last-of-type {
    border-bottom: none;
  }
}

// custom classnames are being applied to both fieldset and label
// https://github.com/carbon-design-system/carbon/issues/4572
fieldset.knob-component-group {
  margin-bottom: 0;
}

.theme-switcher {
  height: auto;
  @include carbon--theme(
    $theme: $carbon--theme--g10,
    $emit-custom-properties: true
  );

  @include carbon--breakpoint('lg') {
    max-width: 70%;
  }
}

.theme-switcher .switch-button {
  padding: $spacing-05;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.preview-container {
  min-height: 32rem;
  padding: $spacing-05;
  border: $spacing-03 solid $ui-background;
  background-color: var(--cds-ui-background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-container {
  margin-top: 0;
  max-height: 320px;
}

.editor-container pre {
  white-space: pre !important;
}

// Themes
.white {
  @include carbon--theme(
    $theme: $carbon--theme--white,
    $emit-custom-properties: true
  );
}

.g10 {
  @include carbon--theme(
    $theme: $carbon--theme--g10,
    $emit-custom-properties: true
  );
}

.g90 {
  @include carbon--theme(
    $theme: $carbon--theme--g90,
    $emit-custom-properties: true
  );
}

.g100 {
  @include carbon--theme(
    $theme: $carbon--theme--g100,
    $emit-custom-properties: true
  );
}
