.demo-container {
  @include carbon--breakpoint('lg') {
    max-width: calc(100% - 240px);
  }
}

.theme-switcher {
  border-bottom: 1px solid $ui-03;
  height: auto;
  @include carbon--theme(
    $theme: $carbon--theme--g10,
    $emit-custom-properties: true
  );

  @include carbon--breakpoint('lg') {
    max-width: 80%;
  }
}

.theme-switcher .switch-button {
  padding: $spacing-05;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.preview-container {
  height: 16rem;
  padding: $spacing-05;
  border: $spacing-03 solid $ui-background;
  background-color: var(--cds-ui-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-container {
  max-height: 320px;
}

.editor-container pre {
  white-space: pre !important;
}

.white {
  @include carbon--theme(
    $theme: $carbon--theme--white,
    $emit-custom-properties: true
  );
}

.g10 {
  @include carbon--theme(
    $theme: $carbon--theme--g10,
    $emit-custom-properties: true
  );
}

.g90 {
  @include carbon--theme(
    $theme: $carbon--theme--g90,
    $emit-custom-properties: true
  );
}

.g100 {
  @include carbon--theme(
    $theme: $carbon--theme--g100,
    $emit-custom-properties: true
  );
}
