.component-status {
  overflow-x: auto;
}
.component-status .cds--tag {
  white-space: nowrap;
}

.component-status .page-table td {
  padding: $spacing-04 $spacing-05;
  white-space: nowrap;
}

.component-status__key {
  margin-top: rem(80px);
}

.component-status__key .page-h4 {
  margin-bottom: $spacing-06;
}

.component-status--unavailable {
  padding-left: $spacing-04;
}
