.iconWrapper {
  display: flex;
  height: 100%;
}

.iconGroup {
  padding: 1rem;
  display: flex;
  width: 100%;

  @include breakpoint('lg') {
    width: 50%;
  }
}

.iconGroup.isDark {
  background-color: $gray-100;
  position: relative;
}

// Covers the top border of the dark cells with appropriate border color
.iconGroup.isDark::before {
  content: '';
  position: absolute;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #393939;
}

.icon {
  background: transparent !important;
  min-width: 20px;
  height: 20px;
}

.icon.glyph {
  min-width: 16px;
  height: 16px;
}

.icon:first-child {
  margin-right: 8px;
}

.table {
  background: white;
  height: 1px;
  overflow: hidden;
  width: 100%;
}

.table .cell,
.table .headerCell {
  padding: 1rem;
  vertical-align: top;
  color: $text-01;
}

.table :is(.cell) {
  color: var(--cds-text-01);
  border-collapse: collapse;
}

.table .cell:first-child {
  padding: 0;
  padding-left: 0 !important;
  height: 100%;
}

.table .cell :global(.cds--snippet) {
  margin-right: $spacing-03;
  margin-bottom: $spacing-03;
}

.descriptionCell {
  min-width: 240px;
}

.statusIndicatorRow {
  height: 100%;
  border-bottom: 1px solid #dcdcdc;
}

.statusIndicatorRow:last-child {
  border-bottom: none;
}

.statusIndicatorTableWrapper {
  margin-left: -1rem;
  margin-right: -1rem;
  :global(.cds--tag) {
      border-radius: 4px;
      margin-inline-start:0;
    }
}

@include breakpoint-between('sm', 'lg') {
  .statusIndicatorTableWrapper {
    overflow: scroll;
  }
  .iconGroup.isDark {
    display: none;
  }
}

//Needed for Safari
.statusIndicatorTableWrapper {
  @include breakpoint('md') {
    :global(.cds--col-md-1) {
      width: 12.5%;
    }

    :global(.cds--col-md-2) {
      width: 25%;
    }

    :global(.cds--col-md-3) {
      width: 37.5%;
    }
  }

  @include breakpoint('lg') {
    :global(.cds--col-lg-4) {
      width: 33.333333%;
    }

    :global(.cds--col-lg-2) {
      width: 16.66667%;
    }
  }
}
