div.chart-demo-wrapper {
  background: $carbon--white-0;
  margin-bottom: rem(60px);

  @include carbon--breakpoint("md") {
    width: 75% !important;
    max-width: 600px;
  }

  @include carbon--breakpoint("lg") {
    width: 66.667% !important;
  }

  div.chart-demo {
    padding: rem(30px);
  }
}

@media (min-width: 66rem) {
  .dataviz-copy {
    width: 66.667%;
  }
}

@media (min-width: 42rem) {
  .dataviz-copy {
    width: 75%;
  }
}

@media (min-width: 42rem) {
  .dataviz-copy {
    padding-right: 2rem;
  }
}

.dataviz-copy {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}
