div.chart-demo-wrapper {
  background: $carbon--white-0;
  margin-bottom: rem(60px);

  @include carbon--breakpoint("md") {
    width: 75% !important;
    max-width: 600px;
  }

  @include carbon--breakpoint("lg") {
    width: 66.667% !important;
  }

  div.chart-demo {
    padding: rem(30px);
  }
}
