div.chart-holder {
  background: $carbon--white-0;
  padding: rem(30px);

  @include carbon--breakpoint("md") {
    width: 75% !important;
  }

  @include carbon--breakpoint("lg") {
    width: 66.667% !important;
  }
}

.charting-demo {
  max-width: 700px;
}

.charting-demo.with-margin-bottom {
  margin-bottom: rem(60px);
}
