.icon-grid {
  margin-top: $spacing-05;
  display: grid;
  width: 100%;
  grid-gap: 1px;
  background-color: $ui-03;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;

  @include carbon--breakpoint('md') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include carbon--breakpoint('lg') {
    grid-template-columns: repeat(6, 1fr);
  }
}

.icon-grid::after {
  content: '';
  width: 600%;
  background-color: #f3f3f3;
}

.icon-card {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  background-color: $ui-background;
  position: relative;
}

.icon-card-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.name {
  @include carbon--type-style('body-short-01');
  position: absolute;
  top: $spacing-05;
  left: $spacing-05;
  display: inline-block;
}
