@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/type';

.popover-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid theme.$border-subtle;
}

.popover-trigger svg {
  fill: theme.$background-inverse;
}

.popover-example-content {
  padding: 1rem;
}

.popover-title {
  @include type.type-style('heading-compact-01');
  margin-bottom: spacing.$spacing-01;
}

.popover-details {
  @include type.type-style('body-compact-01');
}

.popover-story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
