.component-index-search {
  width: 72%;
  height: 48px;
}
.bx--dropdown__wrapper {
  margin-top: 0px !important;
}
.placeholder-sort {
  width: 72%;
  border-bottom-width: 0px;
  background-color: $carbon--white-0;
  height: 48px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 72%;
  background: $carbon--white-0;
  border-bottom: 1px solid $carbon--gray-20;
}
.component-image-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 11.175rem;
  display: block;
}

.index-image {
  background-color: $carbon--white-0;
}
.component-index-text {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 2;
  border-left: 1px solid $carbon--gray-20;
  background-color: $carbon--white-0;
}
.component-index-name {
  @include carbon--type-style('heading-01');
  color: $text-01;
  font-size: 14px;
  font-weight: 600px;
  padding: 1rem 1rem 0 1rem;
}

@mixin trim($numLines: null) {
  @if $numLines != null {
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } @else {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

.component-index-description {
  @include carbon--type-style('body-short-01');
  color: $text-01;
  font-size: 14px;
  font-weight: 400px;
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;
  max-height: 3.5em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  @include trim(3);
}

.links-row {
  @include carbon--type-style('body-short-01');
  color: $link-01;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  bottom: $spacing-05;
  padding: 0 1rem 0 1rem;
}
.link-website {
  padding-right: $spacing-05;
  border-right: 1px solid $carbon--gray-20;
  cursor: pointer;
}
.link-storybook {
  padding-left: $spacing-05;
  cursor: pointer;
}

@media all and (max-width: 480px) {
  .component-index-search {
    width: 100%;
  }
  .placeholder-sort {
    width: 100%;
  }
  .component-image-card {
    display: none;
  }
  .row {
    width: 100%;
    height: 11.175rem;
  }
}
