// temporary until added to components
$active-ui: #bebebe;
$hover-ui: #e5e5e5;

.component-overview {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.component-item {
  width: 33%;
  background: $white-0;
  position: relative;
  transition: $transition-base;

  &:hover {
    background: $hover-ui;
  }

  &:active {
    background: $active-ui;
  }

  // Display two columns
  @include breakpoint('sm') {
    width: 50%;
    border-bottom: 1px solid $gray-20;
    border-right: 1px solid $gray-20;

    // selects every 2nd item and removes right border
    &:nth-child(2n + 2) {
      border-right: none;
    }

    &:last-child,
    &:nth-last-child(2) {
      border-bottom: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  // Display three columns
  @include breakpoint('lg') {
    width: 33.33%;

    &:nth-child(2n + 2) {
      border-right: 1px solid $gray-20;
    }

    // selects every 3rd item and removes right border
    &:nth-child(3n + 3) {
      border-right: none;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      border-bottom: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  // Display four columns
  @include breakpoint('xlg') {
    width: 25%;

    &:nth-child(3n + 3) {
      border-right: 1px solid $gray-20;
    }

    // selects every 4th item and removes right border
    &:nth-child(4n + 4) {
      border-right: none;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      border-bottom: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.component-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container .component-item__img[src*='svg'] {
  margin-bottom: 0;
  background: transparent;
  display: block;
}

.component-name {
  @include type-style('label-01');
  color: $text-01;
  text-decoration: none;
  text-align: left;
  display: flex;
  position: absolute;
  top: $spacing-05;
  left: $spacing-05;
}

.component-tag--feature-flag {
  position: absolute;
  bottom: $spacing-05;
  left: $spacing-05;
  margin: 0;
}
