// banner styles
.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(48px);
  justify-content: space-between;

  background: $background-brand;
  color: $text-on-color;
}

// position header, left nav and content with banner
// Target the header that comes after banner
.banner ~ :global(header) {
  top: rem(48px) !important;
}

// adjust nav container to account for banner
.banner ~ :global(header) ~ :global(nav) {
  top: calc(3rem + 48px) !important;
}

// adjust left nav
.banner ~ :global(header) ~ :global(nav) ~ :global(div) {
  top: rem(48px);
}

// adjust left nav wrapper and main content directly
.banner ~ :global(div[class*='LeftNavWrapper-module--leftNavWrapper']),
.banner ~ :global(#main-content) {
  top: 3rem;
}

// adjust main content
.banner
  ~ :global(header)
  ~ :global(nav)
  ~ :global(div)
  ~ :global(span)
  ~ :global(div)
  ~ :global(#main-content) {
  margin-top: rem(48px);
}

.banner-text {
  display: none;

  @include breakpoint('md') {
    @include type-style('body-short-01');

    display: block;
    padding-left: $spacing-05;
  }
}

.banner-details {
  display: none;

  @include breakpoint('lg') {
    display: inline;
    padding-left: $spacing-03;
  }
}

// override carbon button styles
.banner :global(.cds--btn--ghost).button-banner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: rem(48px);
  margin-right: $spacing-05;
  padding: $spacing-05;
  color: $text-on-color;

  @include breakpoint('md') {
    width: auto;
  }

  &:hover {
    background: var(--cds-hover-primary, #0050e6);
    color: $text-on-color;
  }
}
