// position header, left nav and content with banner
.banner + :global(.cds--header),
.banner + header + nav + div[class*='leftNavWrapper'],
.banner + header + nav + div + span + div + #main-content {
  top: rem(48px);
}

// adjust nav container to account for banner
.banner + header + nav[class*='Switcher-module--nav'] {
  top: 6rem;
}

// banner styles
.banner {
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  width: 100%;
  height: rem(48px);
  justify-content: space-between;

  background: $blue-70;
  color: $text-on-color;
}

.banner-text {
  display: none;

  @include breakpoint('md') {
    @include type-style('body-short-01');

    display: block;
    padding: rem(15px) 0 0 $spacing-05;
  }
}

.banner-details {
  display: none;

  @include breakpoint('lg') {
    display: inline;
    padding-left: $spacing-03;
  }
}

// override carbon button styles
.banner :global(.cds--btn--ghost).button-banner {
  width: 100%;
  max-width: 100%;
  color: $text-on-color;

  @include breakpoint('md') {
    width: auto;
  }

  &:hover {
    background: $blue-70-hover;
    color: $text-on-color;
  }
}
