.container {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity $duration--fast-01 motion(standard, productive);
  z-index: 1;
  svg {
    fill: $icon-01;
  }
}

.container.hidden {
  opacity: 0;
}

.container a {
  text-decoration: none;
}

.container button::-moz-focus-inner {
  border: 0;
}

.container button,
.container a {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  height: 32px;
  width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover:not(:active) {
    background-color: $hover-ui;
  }
  &:active {
    background-color: $active-ui;
  }
}

.container .tooltip .trigger {
  border-bottom: none;
  &:focus {
    outline: 2px solid $focus;
    outline-offset: -2px;
  }
  svg {
    outline: none;
  }
}
