name: Deploy website to IBM Cloud

## scheduled deploy
##on:
##schedule:
## - cron: '0 8 * * *'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v2-beta
        with:
          node-version: 12.x

      - name: Install
        run: yarn install
      - name: Build
        run: yarn build

      - name: Install IBM Cloud CLI
        run: curl -fsSL https://clis.cloud.ibm.com/install/osx | sh
      - name: Install Cloud Foundry CLI
        run: ibmcloud cf install
      - name: Login to ibmcloud
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: ibmcloud login -a "https://cloud.ibm.com" -u apikey -p "$API_KEY" -o "carbon-design-system" -s "production" -r "us-south"
      - name: Deploy website
        run: |
          ibmcloud cf v3-zdt-push carbon-website -b https://github.com/cloudfoundry/nginx-buildpack.git
