name: Deployment status

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Reason'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2-beta
        with:
          node-version: 16.x

      - name: Install packages
        run: yarn install --frozen-lockfile --network-timeout 300000

      - name: Build site
        run: yarn build:clean

      - name: Install IBM Cloud CLI
        run: curl -fsSL https://clis.cloud.ibm.com/install/osx | sh

      - name: Install Cloud Foundry CLI
        run: ibmcloud cf install -v 6.51.0

      - name: Login to ibmcloud
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run:
          ibmcloud login -a "https://cloud.ibm.com" -u apikey -p "$API_KEY" -o
          "carbon-design-system" -s "production" -r "us-south"

      - name: Deploy website
        run: |
          ibmcloud cf v3-zdt-push carbon-website -b https://github.com/cloudfoundry/nginx-buildpack.git
