name: Node CI

on: 
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        version: 10.x
    - name: install cloud cli
      run: |
        curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
    - name: ibmcloud login
      with:
        API_KEY: ${{ secrets.API_KEY }}
      run: ibmcloud login -a "https://cloud.ibm.com" -u apikey -p "API_KEY" -o "carbon-design-system" -s "production" -r "us-south"   
    - name: ibmcloud install plugins
      run: |
        ibmcloud cf add-plugin-repo CF-Community https://plugins.cloudfoundry.org
        ibmcloud cf install-plugin blue-green-deploy -f -r CF-Community
    - name: ibmcloud deploy
      run: |
        ibmcloud cf blue-green-deploy carbon-website-test -f manifest.test.yml --delete-old-apps

