.table {
  margin-top: $spacing-06;
}

.help {
  position: relative;
  padding-left: $spacing-03;
  top: $spacing-01;
}

.version,
.moreLink {
  --space: 1.5rem;
}

:global(.cds--definition-term),
:global(.cds--tag) {
  white-space: nowrap;
}

:global(.cds--tag .cds--popover) {
  white-space: normal;
}

.heading-link {
  &::before {
    content: '';
    display: block;
    height: 96px;
    margin-top: -96px;
  }
}
