.table {
  margin-top: $spacing-06;
}

:global(.page-table .cds--tag) {
  margin-left: 0;
  white-space: nowrap;

  span {
    //override to fix alignment issue with variable font
    padding-top: 2px;
  }
}
